@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>
            <th>Tên thể loại</th>
            <th>Ngày tạo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.TheLoais)
        {
            <tr>
                <td width="30%">
                    @item.Name
                </td>
                <td width="70%">
                    @item.DateCreated.ToString("dd/MM/yyyy")
                </td>
            </tr>
        }
    </tbody>
</table>
